In [1]:
import os 
import numpy as np
import pandas as pd

In [3]:
credit = pd.read_csv('creditcard.csv')
credit.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

In [5]:
credit.columns

Index(['Time', 'V1', 'V2', 'V3', 'V4', 'V5', 'V6', 'V7', 'V8', 'V9', 'V10',
       'V11', 'V12', 'V13', 'V14', 'V15', 'V16', 'V17', 'V18', 'V19', 'V20',
       'V21', 'V22', 'V23', 'V24', 'V25', 'V26', 'V27', 'V28', 'Amount',
       'Class'],
      dtype='object')

In [8]:
credit['Class'].value_counts()

Class
0    284315
1       492
Name: count, dtype: int64

In [11]:
Fraud = (492/(492+284315))*100

In [12]:
Fraud

0.1727485630620034

In [13]:
Real_Transactions = (284315/(492+284315))*100
Real_Transactions

99.82725143693798

# It's a imbalance dataset- we have to balance it before building model

In [15]:
!pip install imblearn

Collecting imblearn
  Downloading imblearn-0.0-py2.py3-none-any.whl.metadata (355 bytes)
Requirement already satisfied: imbalanced-learn in c:\users\rahul srivastava\anaconda3\lib\site-packages (from imblearn) (0.12.3)
Requirement already satisfied: numpy>=1.17.3 in c:\users\rahul srivastava\anaconda3\lib\site-packages (from imbalanced-learn->imblearn) (1.26.4)
Requirement already satisfied: scipy>=1.5.0 in c:\users\rahul srivastava\anaconda3\lib\site-packages (from imbalanced-learn->imblearn) (1.12.0)
Requirement already satisfied: scikit-learn>=1.0.2 in c:\users\rahul srivastava\anaconda3\lib\site-packages (from imbalanced-learn->imblearn) (1.4.2)
Requirement already satisfied: joblib>=1.1.1 in c:\users\rahul srivastava\anaconda3\lib\site-packages (from imbalanced-learn->imblearn) (1.4.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\rahul srivastava\anaconda3\lib\site-packages (from imbalanced-learn->imblearn) (2.2.0)
Downloading imblearn-0.0-py2.py3-none-any.whl (1.9 kB)
Installing collected packages: imblearn
Successfully installed imblearn-0.0

In [16]:
import imblearn

In [18]:
#first split the data into dependent and independent variable
x =credit.iloc[:,:-1]
y=credit.iloc[:,-1]

In [20]:
y.head()

0    0
1    0
2    0
3    0
4    0
Name: Class, dtype: int64

In [21]:
x.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,0.251412,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.069083,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.524980,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.208038,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,0.408542,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99

In [25]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.3,random_state=101)

In [26]:
print(x_train.shape,x_test.shape,y_train.shape,y_test.shape)

(199364, 30) (85443, 30) (199364,) (85443,)

# Approach no 1 - Undersampling method

In [27]:
# Undersampling - Target (Majority Class) - Reduce 
from imblearn.under_sampling import RandomUnderSampler
under = RandomUnderSampler()
x_under, y_under = under.fit_resample(x,y)

In [28]:
print("Original Count :", y.value_counts())
print("**************"*10)
print("After Undersampling :", y_under.value_counts())
print("***************"*10)
print("Now new datashape is :", x_under.shape)

Original Count : Class
0    284315
1       492
Name: count, dtype: int64
********************************************************************************************************************************************
After Undersampling : Class
0    492
1    492
Name: count, dtype: int64
******************************************************************************************************************************************************
Now new datashape is : (984, 30)

# UnderSampling - NearMiss

In [29]:
from imblearn.under_sampling import NearMiss
nearmiss = NearMiss()
x_nm, y_nm = nearmiss.fit_resample(x,y)

In [30]:
print("Original Count :", y.value_counts())
print("**************"*10)
print("After Undersampling :", y_nm.value_counts())
print("***************"*10)
print("Now new datashape is :", x_nm.shape)

Original Count : Class
0    284315
1       492
Name: count, dtype: int64
********************************************************************************************************************************************
After Undersampling : Class
0    492
1    492
Name: count, dtype: int64
******************************************************************************************************************************************************
Now new datashape is : (984, 30)

# Oversampling method

In [31]:
from imblearn.over_sampling import RandomOverSampler
over = RandomOverSampler()
x_over, y_over = over.fit_resample(x,y)

In [32]:
print("Original Count :", y.value_counts())
print("**************"*10)
print("After Oversampling :", y_over.value_counts())
print("***************"*10)
print("Now new datashape is :", x_over.shape)

Original Count : Class
0    284315
1       492
Name: count, dtype: int64
********************************************************************************************************************************************
After Oversampling : Class
0    284315
1    284315
Name: count, dtype: int64
******************************************************************************************************************************************************
Now new datashape is : (568630, 30)

# SMOTE - Oversampling

In [33]:
from imblearn.over_sampling import SMOTE
smote = SMOTE()
x_smote, y_smote = smote.fit_resample(x,y) #fit means apply and resample means generated

In [34]:
print("Original Count :", y.value_counts())
print("**************"*10)
print("After Oversampling :", y_smote.value_counts())
print("***************"*10)
print("Now new datashape is :", x_smote.shape)

Original Count : Class
0    284315
1       492
Name: count, dtype: int64
********************************************************************************************************************************************
After Oversampling : Class
0    284315
1    284315
Name: count, dtype: int64
******************************************************************************************************************************************************
Now new datashape is : (568630, 30)